* {
    box-sizing: border-box; 
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  button {
    border: none;
    background-color: transparent;
  }
  
  header {
    background: radial-gradient(at top, #8664B6 10%,#242424 100%);
    height: 35vh;
  }
  
  .header {
    display: flex;
    align-items: end;
    justify-content: space-around;
  }
  
  .title {
    display: flex;
    margin: 0;
    font-size: 40px;
  }

  .logo {
    max-width: 25%;
    min-width: 1%;
    height: 75%;
    margin: auto;
    display: block;
  }

  .curve {
    color: white;
    position: relative;
    overflow: visible;
    /* text-align: center; */
    padding: 2rem;
    width: 100%;
    height: 30vh;
    z-index: 2;
    
    &::before {
      content: '';
      display: block;
      box-shadow: 0 4px 4px -2px gray;
      background: radial-gradient(ellipse at center, #8664B6 25%,rgba(185, 232, 239, 1) 100%);
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      border-radius: 100vw;
      width: 200%;
      height: 300vh;
      z-index: -1;
    }
  }

  .nav-links {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 0;
  }

  .nav-btn, button {
    margin: 0 10px;
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
  }

  .nav-btn:before , button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #fffefe;
    transition: all 0.4s ease;
    opacity: 0;
  }

  .nav-btn:hover:before , button:hover:before {
    width: 100%;
    opacity: 1;
  }

  /* .more {
    box-shadow: 0 4px 4px -2px gray;
    background: radial-gradient(at bottom, #8664B6 2%,rgba(185, 232, 239, 1) 100%);
    margin: 0;
    width: 100%;
    height: 10vh;
    padding: 1rem 2rem;
    text-align: center;
  } */
